@media only screen and (max-width: 1350px) {
  header .container-fluid {
    width: 85% !important;
  }
  .menu_container {
    display: none !important;
  }
  header .container-fluid .logo_contianer {
    width: 35% !important;
  }
  header .container-fluid .social_container {
    width: 55% !important;
  }
}
/* Larger Screens (1200px and below) */
@media (max-width: 1200px) {
  /* Add your responsive styles here for screens up to 1200px */
}

/* Larger Tablets and Smaller Laptops (1024px and below) */
@media (max-width: 1024px) {
  /* Add your responsive styles here for screens up to 1024px */
}

/* Laptop (992px and below) */
@media (max-width: 992px) {
  .hamburger div {
    width: 2.6rem;
  }
  .hamburger span {
    font-size: 0.9rem;
  }
  .staff_team .row .col-lg-3 {
    width: 34%;
  }
}
/* Tablets and Smaller Laptops (766px and below) */
@media (max-width: 766px) {
  header .container-fluid .row_ .logo_contianer .logo_ a img {
    width: 7rem;
  }
  .hamburger div {
    width: 2.4rem;
  }
  .hamburger span {
    font-size: 0.8rem;
  }
  [data-pushbar-id] {
    width: 80% !important;
  }
  .top_menu_information__ div,
  .bottom_menu_information__ div {
    width: 100% !important;
    margin-right: 1rem;
  }
  .banner-content {
    padding: 20px;
  }
  .section_heading__ {
    font-size: 2.7rem !important;
  }
  .section_heading__::before {
    display: none;
  }
  .common-description {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .common-button {
    padding: 10px 15px;
    font-size: 1.2rem;
  }
  .endless-adventures {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .staff_team div.row .col-lg-3 {
    width: 52% !important;
    margin-left: 0;
    margin-bottom: 2rem;
  }
  .staff_team div.row:nth-child(2) .col-lg-3 {
    width: 52% !important;
    margin-left: 0;
  }
  .testimonial__sec .testimonial .common-description {
    font-size: 1.2rem;
  }
  .owl-controls .owl-buttons div {
    margin: 0.7rem 1rem !important;
  }
  .owl-carousel .common-button {
    padding: 1rem 3.3rem;
  }
  .common__blogs_container .mb-3 {
    margin-bottom: 5rem !important;
  }
  footer .col-md-3 > div,
  .footer .col-md-3 > div {
    width: 100%;
  }
}

/* Mobile Devices (576px and below) */
@media (max-width: 576px) {
}

/* Smallest Mobile Devices (450px and below) */
@media (max-width: 450px) {
  /* Add your responsive styles here for screens up to 450px */
}
