@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700&family=Roboto:wght@400;500;700&display=swap");
:root {
  --manrope-font: "Manrope", sans-serif;
  --roboto-font: "Roboto Mono", monospace;
  --stratos: Stratos-Regular, sans-serif;
  --white-color: #ffffff;
  --primary-color: #0066cc;
  --secondary-color: #ffffff;
  --font-style: normal;
  --custom-purple-color: #e2dcff;
  --custom-size: 1.5rem;
}

@font-face {
  font-family: Stratos-Regular;
  src: url("./font/Stratos-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
}

html {
  max-width: 100%;
  font-size: 62.2%;
  overflow: hidden scroll;
}

body {
  text-rendering: optimizelegibility;
  overflow: hidden;
  font-size: 1.6rem;
  line-height: 1.5;
  position: static;
  background: rgb(10, 12, 10);
  font-family: var(--manrope-font);
}

section {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.container-fluid {
  width: 90%;
  margin: auto;
}

.section_heading__ {
  font-size: 4rem;
  font-family: var(--stratos);
  font-weight: 600;
  color: var(--white-color);
  margin-bottom: 1.5rem;
  position: relative;
  line-height: 4.3rem;
  animation: 1s ease-in-out 0s 1 normal forwards running headingAnimation;
}

.section_heading__::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0.3rem;
  background: var(--custom-purple-color);
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.5s ease-in-out 0s;
}

.section_heading__:hover::before {
  transform: scaleX(1);
  transform-origin: left center;
}

@keyframes headingAnimation {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.common-description {
  color: rgb(232, 224, 224);
  font-family: var(--manrope-font);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.common-button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
      200deg,
      rgb(158, 97, 255),
      rgba(142, 97, 255, 0) 34%
    ),
    radial-gradient(
      circle at 0% -100%,
      rgb(97, 155, 255) 20%,
      rgba(205, 219, 248, 0) 51%
    ),
    linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
  font-family: var(--stratos);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms ease 0s, box-shadow 200ms ease 0s,
    filter 2000ms cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.common-button:hover {
  border-style: none;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.26);
  box-shadow: rgba(0, 0, 0, 0.1) 5px 0px 30px 0px;
  filter: hue-rotate(83deg);
  transform: scale(1.1);
}

.common_header {
  position: relative;
  padding: 15rem 0rem;
  background: linear-gradient(rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.44)) center
      center / cover no-repeat scroll,
    url("../../img/backgroundImg/about-bg.jpg");
  z-index: 70;
}

.common_header .common_heading {
  color: rgb(255, 255, 255);
  padding: 6rem 5rem;
}

.common_header .common-description {
  color: rgb(255, 254, 254);
}

ol.fancy_list {
  list-style-type: decimal;
}

ol.fancy_list li::before {
  content: none;
}

.common_header .section_heading__ {
  font-size: 4.1rem;
}

.common_header em {
  font-family: var(--manrope-font);
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 255, 168, 0.9);
  text-decoration: underline;
  opacity: 0.9;
  display: inline-block;
}

.highlighted_link {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(83, 230, 21) !important;
}

.highlighted_link:hover {
  color: rgb(0, 123, 255) !important;
}

.common_blog_heading_ {
  margin-bottom: 2rem;
  margin-top: 5rem;
  font-size: 3rem;
  animation: initial;
  color: rgb(229, 238, 238);
}

.common_blog_heading_::before {
  content: initial;
}

.common_content {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
}

.common_content em {
  font-family: var(--manrope-font);
  font-style: italic;
  font-weight: bold;
  color: rgba(0, 255, 168, 0.9);
  text-decoration: underline;
  opacity: 0.9;
  display: inline-block;
}

.common_content .explore_more {
  margin-top: 2rem;
}

.fancy_list {
  list-style-type: none;
  padding: 0px;
  margin-left: 4rem;
}

.fancy_list li,
.fancy_list + p {
  font-family: var(--manrope-font);
  font-weight: 500;
  font-style: normal;
  margin-bottom: 10px;
  position: relative;
  color: var(--custom-purple-color);
  opacity: 0.8;
  font-size: 1.8rem;
}

.fancy_list + p {
  margin-top: 2rem;
}

.fancy_list li::before {
  content: "•";
  color: rgb(0, 123, 255);
  font-size: 1.2em;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}

.warning__text {
  color: rgb(255, 83, 71);
}

.highlighted_text {
  color: rgb(107, 254, 107);
}

.common__blogs_container .section_heading__::before {
  content: initial;
}

.common__blogs_container .blog_post {
  width: 95%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 2rem;
  position: relative;
  background: rgb(25, 33, 35);
  border-radius: 4px;
  border-top: 1px solid rgb(41, 49, 51);
}

.common__blogs_container .blog_post::after {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: 0.3rem;
  background: -webkit-linear-gradient(
    90deg,
    rgb(155, 175, 217) 0%,
    rgb(16, 55, 132) 100%
  );
}

.common__blogs_container .mb-3 {
  margin-bottom: 3rem !important;
}

.common__blogs_container .container_copy {
  padding: 4rem 3rem;
}

.published_date {
  display: inline-block;
  color: rgb(209, 209, 209);
  font-weight: 500;
}

.common__blogs_container .common_blog_heading_ {
  margin-top: 2rem;
}

.common__blogs_container p {
  margin: 0px 0px 4.5rem;
  font-size: 1.6rem;
  line-height: 1.45;
  font-family: var(--manrope-font);
  color: rgb(149, 165, 166);
}

.content-wrapper {
  height: 100%;
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1) 0s;
}

.section {
  width: 100%;
  height: 100%;
  animation: 0.8s linear 0s 1 normal none running none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.section:nth-child(2),
.section:nth-child(3),
.section:nth-child(4),
.section:nth-child(5),
.section:nth-child(6),
.section:nth-child(7) {
  background-color: rgba(11, 3, 38, 0.24);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

section.section:nth-child(6) {
  background-image: linear-gradient(
      rgba(24, 4, 61, 0),
      rgba(11, 3, 38, 0) 11%,
      rgba(11, 3, 38, 0) 67%,
      rgba(0, 0, 0, 0)
    ),
    url("../../img/backgroundImg/bg-4.jpg");
  z-index: 10;
}

.section:nth-child(8) {
  background-image: linear-gradient(
      rgb(24 4 61 / 0%),
      rgb(11 3 38 / 0%) 11%,
      rgb(11 3 38 / 0%) 67%,
      rgb(0 0 0 / 0%)
    ),
    url(../../img/backgroundImg/bg-2.jpg);
  z-index: 9;
}

.section:nth-child(9) {
  background-image: linear-gradient(
      rgba(24, 4, 61, 0),
      rgba(11, 3, 38, 0.2) 11%,
      rgba(11, 3, 38, 0) 67%,
      rgba(0, 0, 0, 0)
    ),
    url("../../img/backgroundImg/bg-5.jpg");
  z-index: 8;
}

.section.fp-completely.active {
  z-index: 20;
}

.section.active .content-wrapper {
  transform: translateY(-20vh);
  transition: all 4s cubic-bezier(0.22, 0.44, 0, 1) 0s !important;
}

.section.fp-completely .content-wrapper {
  transform: translateY(20vh);
  transition: all 4s cubic-bezier(0.22, 0.44, 0, 1) 0s !important;
}

.section.fp-completely.active .content-wrapper {
  margin-top: 0px;
  transform: translateY(0px);
  position: relative;
}

.section.prev.down {
  animation-name: toup;
}

.section.active.up {
  animation-name: fromup;
}

.section.active.down {
  animation-name: fromdown;
  z-index: 12;
}

.section.next.up {
  animation-name: todown;
  z-index: 12;
}

@keyframes fromdown {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}

@keyframes toup {
  0% {
    z-index: 20;
    transform: translateY(0%);
  }

  100% {
    z-index: 20;
    transform: translateY(-100%);
  }
}

@keyframes fromup {
  0% {
    z-index: 20;
    transform: translateY(-100%);
  }

  100% {
    z-index: 20;
    transform: translateY(0%);
  }
}

@keyframes todown {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(50%);
  }
}

#fp-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 1000;
  background-color: rgba(3, 4, 4, 0.11);
  opacity: 0.6;
  border-radius: 46px;
  border: 1px solid rgb(167, 167, 167);
}

#fp-nav ul {
  list-style: none;
  padding: 2px 3px !important;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 6px !important;
  height: 6px !important;
  margin: 23px 8px !important;
}

#fp-nav a {
  display: block;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s, opacity 0.3s ease 0s;
}

#fp-nav a.active {
  opacity: 1;
  position: relative;
}

#fp-nav span {
  display: none;
}

#fp-nav li a:hover {
  background-color: rgb(108, 82, 238);
  opacity: 1;
  transform: scale(1.2);
}

#fp-nav ul li .fp-tooltip.right {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
      200deg,
      rgb(158, 97, 255),
      rgba(142, 97, 255, 0) 34%
    ),
    radial-gradient(
      circle at 0% -100%,
      rgb(97, 155, 255) 20%,
      rgba(205, 219, 248, 0) 51%
    ),
    linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
  font-size: 1.2rem;
  color: var(--custom-purple-color);
  padding: 8px 23px;
  font-family: var(--manrope-font);
  right: 18px !important;
}

#fp-nav ul li .active {
  --width: 100%;
  --height: 100%;
  width: var(--width);
  height: var(--height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fp-nav ul li .active::before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 50%;
}

.desktop_menu {
  position: relative;
}

.desktop_menu a.nav_item:link,
.desktop_menu a.nav_item:visited {
  position: relative;
  display: block;
  padding: 0.7rem 1.3rem;
  font-family: var(--manrope-font);
  font-weight: 500;
  font-style: var(--font-style);
  font-size: var(--custom-size);
  line-height: 2rem;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  color: var(--custom-purple-color);
}

.desktop_menu a.nav_item:link i,
.desktop_menu a.nav_item:visited i {
  margin-left: 0.6rem;
  transition: color 0.3s ease 0s;
}

.hamburger-menu {
  width: 25px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out 0s;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: rgb(152, 160, 187);
  border-radius: 7px;
  transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
}

.bar:nth-child(1) {
  transform: translateY(0px);
}

.bar:nth-child(2) {
  transform: translateY(0px);
}

.bar:nth-child(3) {
  transform: translateY(0px);
}

.hamburger-menu:hover .bar:nth-child(1) {
  transform: translateY(5px);
  opacity: 0.7;
}

.hamburger-menu:hover .bar:nth-child(2) {
  transform: scaleX(0);
}

.hamburger-menu:hover .bar:nth-child(3) {
  transform: translateY(-5px);
  opacity: 0.7;
}

.push__bar .mobile__navigation__ {
  width: calc(100% - 20px);
  margin: auto;
  padding: 0px 1rem;
}

.push__bar .mobile__navigation__ ul {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.push__bar .mobile__navigation__ ul li {
  padding: 0.8rem 0px;
}

.push__bar .mobile__navigation__ ul li a {
  color: var(--custom-purple-color);
  opacity: 0.7;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  font-family: var(--manrope-font);
  font-weight: 500;
  font-style: var(--font-style);
}

.push__bar .mobile__navigation__ ul li:hover a {
  color: var(--white-color);
  opacity: 1;
}

html.pushbar_locked {
  overflow: hidden;
  touch-action: none;
}

.pushbar_locked .pushbar_main_content.pushbar_blur {
  filter: blur(15px);
}

.pushbar_overlay {
  z-index: -999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  will-change: opacity;
  transition: opacity 0.5s ease 0s;
  opacity: 0;
  background-color: rgba(11, 3, 38, 0.9);
}

html.pushbar_locked .pushbar_overlay {
  opacity: 0.8;
  z-index: 999;
}

[data-pushbar-id] {
  z-index: 1000;
  position: fixed;
  overflow-y: auto;
  will-change: transform;
  transition: transform 0.5s ease 0s;
}

[data-pushbar-direction="left"][data-pushbar-id],
[data-pushbar-direction="right"][data-pushbar-id] {
  top: 0px;
  width: 256px;
  max-width: 100%;
  height: 100%;
}

[data-pushbar-direction="bottom"][data-pushbar-id],
[data-pushbar-direction="top"][data-pushbar-id] {
  left: 0px;
  width: 100%;
  min-height: 150px;
}

[data-pushbar-direction="left"][data-pushbar-id] {
  left: 0px;
  transform: translateZ(0px) translateX(-100%);
}

[data-pushbar-direction="right"][data-pushbar-id] {
  right: 0px;
  transform: translateZ(0px) translateX(100%);
}

[data-pushbar-direction="top"][data-pushbar-id] {
  top: 0px;
  transform: translateZ(0px) translateY(-100%);
}

[data-pushbar-direction="bottom"][data-pushbar-id] {
  bottom: 0px;
  transform: translateZ(0px) translateY(100%);
}

[data-pushbar-id].opened {
  display: block;
  transform: translateX(0px) translateY(0px);
}

[data-pushbar-id] {
  background-color: rgba(11, 3, 38, 0.95);
  background-image: url("../../img/kfcrp-6.png");
  background-size: cover;
  background-position: center center;
  z-index: 1002;
  width: 70% !important;
}

.push-container {
  color: white;
}

.push-container .mobile_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.push-container .mobile_container .overlay__ {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  z-index: -1;
}

.push-container .mobile_container .menu___ {
  width: 100%;
  height: 41vh;
  position: relative;
  background: linear-gradient(
    99deg,
    rgba(4, 4, 4, 0.65) 0%,
    rgba(0, 0, 0, 0.68) 100%
  );
}

.push-container .mobile_container .menu___ .mobile_menu_logo {
  position: absolute;
  width: 9rem;
  left: 45%;
  transform: translate(0px, 35px);
}

.push-container .container-fluid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.push-container .container-fluid .mobile__navigation__ ul .hover_item a svg {
  fill: var(--custom-purple-color);
  opacity: 1;
  transition: fill 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.push-container
  .container-fluid
  .mobile__navigation__
  ul
  .hover_item
  a:hover
  svg {
  fill: var(--white-color);
}

#close {
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 1.4rem;
  left: 1.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#close i {
  font-size: 2.2rem;
  color: rgba(255, 255, 255, 0.66);
}

#close .close_text {
  font-size: 1.1rem;
}

.pushbar_overlay {
  background-color: rgb(16, 17, 18);
}

header {
  position: fixed;
  padding: 1.3rem 0px;
  width: 100%;
  top: 0px;
  z-index: 100;
  transition: all 0.2s ease-in-out 0s;
  background: rgb(25, 33, 35);
}

.backDrop {
  backdrop-filter: blur(6px);
}

header .container-fluid .row_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-fluid .row_ .logo_contianer .logo_ a {
  width: 100%;
  height: auto;
}

header .container-fluid .row_ .logo_contianer .logo_ a img {
  width: 8rem;
  transition: all 0.4s ease-in-out 0s;
}

header .container-fluid .row_ .menu_container {
  text-align: center;
  flex-shrink: 0;
}

header .container-fluid .row_ .menu_container .nav_menu ul li {
  position: relative;
  margin-left: 1.1rem;
}

header .container-fluid .row_ .menu_container .nav_menu ul li:hover a {
  color: var(--white-color);
  opacity: 1;
}

header .container-fluid .row_ .menu_container .nav_menu ul li a.nav_item:link i,
header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  li
  a.nav_item:visited
  i {
  margin-left: 0.4rem;
  color: var(--white-color);
  font-size: 1.2rem;
}

header .container-fluid .row_ .menu_container .nav_menu ul li .others {
  font-size: 1.5rem;
  color: var(--custom-purple-color);
  cursor: pointer;
  display: inline-block;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  margin-top: 0.3rem;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  .drop_down__
  .others
  i {
  font-size: 1.3rem;
  color: var(--custom-purple-color);
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  .drop_down__:hover
  .others {
  color: var(--white-color);
  opacity: 1;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  .drop_down__:hover
  .others
  i {
  transform: rotate(539deg);
  color: var(--white-color);
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  li
  .dropdown-content {
  position: absolute;
  top: 5.8rem;
  left: 0px;
  background: rgb(25, 33, 35);
  min-width: 273px;
  border-radius: 14px;
  z-index: 1;
  text-align: left;
  padding: 2rem 1.5rem;
  transition: transform 0.4s linear 0s;
  transform-origin: center top;
  transform: scaleY(0);
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  li:hover
  .dropdown-content {
  transform-origin: center top;
  transform: scaleY(1);
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  li
  .dropdown-content
  a {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  font-size: 1.5rem;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  li
  .dropdown-content
  a
  span {
  color: var(--custom-purple-color);
  font-family: var(--manrope-font);
  font-weight: 500;
  opacity: 0.7;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  .drop_down__
  .dropdown-content
  a:hover
  span {
  color: var(--white-color);
  opacity: 1;
}

header svg {
  fill: var(--custom-purple-color);
  opacity: 0.7;
  transition: fill 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

header
  .container-fluid
  .row_
  .menu_container
  .nav_menu
  ul
  .drop_down__
  .dropdown-content
  a:hover
  svg {
  fill: var(--white-color);
  opacity: 1;
}

header .container-fluid .row_ .menu_container .nav_menu ul li:first-child {
  margin-left: 0px;
}

.nav_bg_adder {
  background: rgb(18, 18, 18);
}

.nav_bg_adder .nav_menu li a {
  color: rgb(236, 239, 241) !important;
}

.nav_bg_adder .nav_menu li a i {
  color: rgb(236, 239, 241) !important;
}

.nav_bg_adder .hamburger div {
  border: 1px solid rgb(236, 239, 241) !important;
}

.banner_ {
  position: relative;
  text-align: center;
  padding: 100px 0px;
  background-color: rgb(11, 3, 38);
  background-image: linear-gradient(
      rgb(24 4 61 / 0%),
      rgb(11 3 38 / 0%) 11%,
      rgb(11 3 38 / 32%) 67%,
      rgb(0 0 0 / 51%)
    ),
    url(../../img/backgroundImg/fivem1.png) !important;
  background-size: cover;
  background-position: center bottom;
  z-index: 1;
}

.banner-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.13) 0%,
    rgba(0, 0, 0, 0.71) 100%
  );
  z-index: -1;
}

.banner-content {
  max-width: 800px;
  margin: 0px auto;
}

.image-container {
  margin-bottom: -2rem;
}

.animated-image {
  animation: 2s ease-in-out 0s infinite alternate none running pulse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.banner-content {
  margin-top: 50px;
}

.banner-content .server-description {
  margin-bottom: 2rem;
  color: var(--white-color);
}

section.kfcrp_c_m {
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
}

.kfcrp_c_m .col-md-6 {
  position: relative;
}

section.kfcrp_c_m .col-md-6 div.content_container_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 60%;
  padding: 0px 3rem;
  position: absolute;
  right: -5rem;
  z-index: 1;
  background: rgb(25, 33, 35);
  border-radius: 4px;
  border-top: 1px solid rgb(41, 49, 51);
}

section.kfcrp_c_m .content_container_ h2.section_heading__ {
  color: rgb(229, 238, 238);
}

section.kfcrp_c_m .content_container_ h2.section_heading__::before {
  transform: translateX(1px);
  background-color: rgb(229, 238, 238);
}

section.kfcrp_c_m .content_container_ p.common-description {
  color: rgb(149, 165, 166);
}

section.kfcrp_6 .info__img img {
  width: 70rem;
}

section.kfcrp_7 .col-md-6 div.content_container_ {
  left: -5rem;
}

.endless-adventures {
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  overflow: hidden;
}

.endless-adventures .endless-bg {
  position: absolute;
  bottom: -2.7rem;
}

.endless-adventures .row {
  align-items: center;
  z-index: 20;
}

.endless-adventures .row .endless_description_text {
  margin-bottom: 2.3rem;
}

.endless-adventures img {
  max-width: 100%;
  height: auto;
}

.staff_team {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
  background-image: linear-gradient(
      rgb(24 4 61),
      rgb(11 3 38) 11%,
      rgba(11, 3, 38, 0.03) 67%,
      rgba(0, 0, 0, 0)
    ),
    url(../../img/backgroundImg/bg-3.jpg) !important;
}

.staff_team .common-description {
  color: rgb(255 255 255);
}

.staff_team .section-subheading {
  color: var(--custom-purple-color);
  font-size: 1.35rem;
}

.staff_team .highlight {
  color: rgb(229, 0, 242);
  font-family: var(--manrope-font);
  font-weight: 500;
}

.staff_team .row:nth-child(1) .col-lg-3 {
  margin-left: 2.4rem;
}

.staff_team .row:nth-child(2) .col-lg-3 {
  width: 20%;
  margin-left: 2.7rem;
}

.image-container-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0s;
  perspective: 1000px;
  transform-style: preserve-3d;
  will-change: transform;
}

.hover-effect {
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.overlay__description {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 6, 2, 0.77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0s;
}

.overlay__description p {
  width: 80%;
  text-align: center;
  font-size: 1rem;
  color: rgb(212, 212, 212);
  font-family: var(--manrope-font);
  font-style: normal;
  font-weight: 400;
}

.overlay__description .stream_profile {
  color: var(--white-color);
  margin-top: 0.7rem;
  font-family: var(--manrope-font);
  font-weight: 200;
  font-style: var(--font-style);
}

.overlay__description .stream_profile {
  position: relative;
}

.overlay__description .stream_profile::before {
  content: attr(data-steam);
  position: absolute;
  bottom: -26px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  padding: 2px 6px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.78);
  font-weight: 400;
  border: 0.1rem solid rgb(255, 255, 255);
}

.overlay__description .stream_profile:hover::before {
  opacity: 1;
  visibility: visible;
}

.image-container-hover:hover .overlay__description {
  opacity: 1;
}

.image-container-hover:hover .image-wrapper {
  transform: scale3d(1.1, 1.1, 1);
}

.img_information_container .name_text,
.img_information_container .title_text {
  font-family: var(--manrope-font);
  font-size: 1.3rem;
  font-style: var(--font-style);
}

.img_information_container .name_text {
  font-weight: 700;
  color: rgb(215, 216, 217);
}

.img_information_container .title_text {
  font-weight: 400;
  color: rgb(255, 46, 46);
  margin-top: 0.3rem;
}

.img_information_container .green_text {
  color: rgb(83, 230, 21);
}

.testimonial__sec {
  background-color: rgba(4, 4, 4, 0.29);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: linear-gradient(
      rgb(0 0 0 / 33%),
      rgb(6 6 6 / 29%) 11%,
      rgb(15 15 16 / 31%) 67%,
      rgb(10 10 10 / 39%)
    ),
    url(../../img/kfcrp-6.png) !important;
}

.testimonial__sec .testimonial {
  height: 279px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.testimonial__sec .testimonial .common-description {
  font-size: 1.57rem;
  color: rgb(192, 206, 207);
}

.owl-carousel {
  position: relative;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-image: initial;
  background: rgba(27, 33, 34, 0.62);
  border-radius: 4px;
  border-top: 1px solid rgb(41, 49, 51);
  padding: 3rem 0px;
  transition: transform 0.3s ease-in-out 0s;
}

.owl-carousel:hover {
  transform: scale(1.05);
}

.owl-carousel .common-button {
  padding: 1.2rem 4.5rem;
  background: initial;
  border: 0.1rem solid var(--custom-purple-color);
  box-shadow: initial;
}

.owl-carousel .common-button:hover {
  border: 0.1rem solid rgb(79, 201, 186);
}

.testimonial__sec .owl-theme .owl-controls .owl-buttons div {
  margin: 1rem 2rem;
}
/* embedding web pages css */
.embedding__webpage .section_heading__::before {
  content: initial;
}
.embedding__webpage .section_heading__::before:hover {
  transform: translateX(0);
}
.embedding__webpage iframe {
  width: 100%;
  height: 100%;
}

.embedding__webpage iframe html body header.site-navbar[_ngcontent-cfx-ui-c71] {
  display: none;
}
.sponser {
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
  justify-content: space-around;
}

.sponser .animated-image {
  animation: inherit;
  width: 12.7rem;
}

.sponser .evolution-description {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

footer,
.footer {
  background: linear-gradient(rgb(4, 4, 4) 0%, rgba(0, 0, 0, 0.98) 100%) 0% 0% /
    cover;
  padding-top: 8rem;
  padding-bottom: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  border-top: none;
}

footer h5,
.footer h5 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 1.8rem;
  font-family: var(--stratos);
  font-weight: 400;
  font-style: normal;
}

footer img,
.footer img {
  width: 8rem;
}

footer p,
footer ul,
.footer p,
.footer ul {
  color: rgb(173, 181, 189);
  font-size: 1.5rem;
  font-family: var(--manrope-font);
  font-weight: 400;
  font-style: normal;
  opacity: 0.7;
}

footer .about_description,
.footer .about_description {
  margin-top: 1.3rem;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

footer .about_description:hover,
.footer .about_description:hover {
  color: var(--white-color);
}

footer a,
.footer a {
  color: rgb(173, 181, 189);
  font-size: 1.6rem;
  font-family: var(--manrope-font);
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

footer a svg,
.footer a svg {
  fill: rgb(173, 181, 189);
  transition: color 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s,
    opacity 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

footer a:hover,
.footer a:hover {
  color: var(--white-color);
}

footer a:hover svg,
.footer a:hover svg {
  fill: var(--white-color);
}

footer ul li,
.footer ul li {
  padding-left: 1.5rem;
  position: relative;
  list-style-type: none;
  margin-bottom: 0.5rem;
}

footer ul li i,
.footer ul li i {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  text-align: center;
}

footer .copyright__,
.footer .copyright__ {
  font-size: 1.4rem;
  margin-top: 5rem;
}

#fixed-social {
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(
      200deg,
      rgb(158, 97, 255),
      rgba(142, 97, 255, 0) 34%
    ),
    radial-gradient(
      circle at 0% -100%,
      rgb(97, 155, 255) 20%,
      rgba(205, 219, 248, 0) 51%
    ),
    linear-gradient(rgb(108, 82, 238), rgb(108, 82, 238));
  position: fixed;
  left: 0px;
  bottom: 113px;
  z-index: 102;
  border-radius: 0.4rem;
}

#fixed-social a {
  color: rgb(255, 255, 255);
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
}

#fixed-social .fixed-discord {
  border-bottom: 0.1rem solid var(--custom-purple-color);
}

.about_header_section .common_blog_heading_ {
  font-size: 4rem;
}

.blog_content_container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.guide_content_container {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.guide_header_container .section_heading__::before,
.common__blogs_container .section_heading__::before {
  content: initial;
}

.keybinds_header_container__ .common_blog_heading_ {
  font-size: 4rem;
}

.keybinds_commands_content_container ul.fancy_list {
  list-style-type: circle;
}

.keybinds_commands_content_container ul.fancy_list li::before {
  content: "•";
}

.warning {
  background-color: rgba(171, 0, 0, 0.85);
  color: rgb(1, 1, 1);
  padding: 11px 22px;
  border-radius: 4px;
  width: 45%;
  margin: 2rem auto auto;
  font-family: var(--manrope-font);
  font-weight: bold;
}

.warning p {
  color: rgba(255, 255, 255, 0.75);
}

.server_content .fancy_list li {
  margin-bottom: 1.4rem;
}

.server_content ul.fancy_list li::before {
  content: "•";
}

.server_content .commom-description {
  color: var(--custom-purple-color);
}

.ww_22 {
  margin-right: initial;
  margin-left: initial;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-underlined {
  text-decoration: underline;
}

.server_content .anticheat_text {
  color: rgba(56, 255, 187, 0.9);
}

.server_content .highlighted__box {
  background-color: var(--white-color);
  color: red;
  padding: 0.1rem 1.1rem;
  display: inline-block;
}

.server_content .gang__text {
  color: rgb(204, 51, 204);
}

.server_content .warning___d {
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
}

.voice_setup_content_container .card {
  background-color: transparent;
  color: var(--custom-purple-color);
  padding: 1rem 3rem;
}

.voice_setup_content_container .card li {
  background-color: transparent;
  border: none;
  color: var(--custom-purple-color);
  opacity: 0.9;
}

.voice_setup_content_container .list-group-item strong {
  color: rgb(1, 209, 146);
  font-weight: bold;
}

@media only screen and (max-width: 1350px) {
  header .container-fluid {
    width: 85% !important;
  }

  .menu_container {
    display: none !important;
  }

  header .container-fluid .logo_contianer {
    width: 35% !important;
  }

  header .container-fluid .social_container {
    width: 55% !important;
  }
}

@media (max-width: 992px) {
  .hamburger div {
    width: 2.6rem;
  }

  .hamburger span {
    font-size: 0.9rem;
  }

  .section_heading__ {
    font-size: 2.9rem !important;
  }

  .common-description {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .staff_team .row .col-lg-3 {
    width: 34%;
  }
}

@media (max-width: 766px) {
  html {
    font-size: 52.5%;
  }

  header .container-fluid .row_ .logo_contianer .logo_ a img {
    width: 7rem;
  }

  .hamburger div {
    width: 2.4rem;
  }

  .hamburger span {
    font-size: 0.8rem;
  }

  [data-pushbar-id] {
    width: 80% !important;
  }

  .top_menu_information__ div,
  .bottom_menu_information__ div {
    margin-right: 1rem;
    width: 100% !important;
  }

  .banner-content {
    padding: 20px;
  }

  .container-fluid .row > .col-lg-4 {
    text-align: center;
  }

  .section_heading__ {
    font-size: 2.5rem !important;
  }

  .section_heading__::before {
    display: none;
  }

  .common-description {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .common-button {
    padding: 10px 15px;
    font-size: 1.2rem;
  }

  section.kfcrp_c_m .col-md-6 div.content_container_ {
    position: initial;
    height: 100%;
    padding: 2rem 1rem;
    align-items: center;
    text-align: center;
  }

  section.kfcrp_c_m .col-md-6 img {
    width: 50rem !important;
  }

  section.kfcrp_c_m div.content-wrapper {
    transform: translateY(0px) !important;
  }

  .endless-adventures {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .staff_team div.row .col-lg-3 {
    margin-left: 0px;
    margin-bottom: 2rem;
    width: 52% !important;
  }

  .staff_team div.row:nth-child(2) .col-lg-3 {
    margin-left: 0px;
    width: 52% !important;
  }

  .testimonial__sec .testimonial .common-description {
    font-size: 1.2rem;
  }

  .owl-controls .owl-buttons div {
    margin: 0.7rem 1rem !important;
  }

  .owl-carousel .common-button {
    padding: 1rem 3.3rem;
  }

  .common__blogs_container .mb-3 {
    margin-bottom: 5rem !important;
  }

  footer .col-md-3 > div,
  .footer .col-md-3 > div {
    width: 100%;
  }
}
